.env
.env.sample
node_modules
dist
./dist
/node_modules
.vscode
./.vscode
.gitignore


./dist
node_modules
node_modules/
./node_modules

.vscode
./.vscode
vscode/

README.md
tsconfig.json

app.log
app-error.log
logs/